@page
@model ClientWeb.Pages.File.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FileDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileDTO.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileDTO.Path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileDTO.Created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileDTO.Created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileDTO.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileDTO.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileDTO.Path_changed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileDTO.Path_changed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileDTO.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileDTO.Location)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FileDTO.FileId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
